.show {
  border: dotted 2.2px black;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  position: relative;
  width: 800px;
  left: 290px;
}
.title{
  position: relative;
  left: 620px;
}
body {
  color: #63170f;
  background-image: linear-gradient(to top,  #f35c41,#f32513);
}
input{
  position: relative;
  left: 400px;
  width: 600px;
  height: 30px;
  background-color: rgb(245, 245, 244);
  border: 1px solid black;
}
.button{
  background-color:#e73827;
  color: #e28a8a;
  height: 30px;
  margin: 1px;
}
.title2{
  font-weight: bold;
  font-weight: bolder;
}
.author{
  font-weight: bold;
  position: absolute;
  right: 10px;
  bottom: 0px;
  font-style: italic;
  font-size: 20px;
}
.date{
  padding-top: 10px;
  font-weight: bolder;
}
.content{
  text-align: center;
  padding: 10px;
  font-size: 35px;
  color:#b40404;
}

 
 
