.show {
  border: dotted 1px black;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  position: relative;
  width: 50%;
  left: 350px;
}
.title{
  position: relative;
  left: 620px;
}
body {
  color: #551009;
  background-image: linear-gradient(to top,  #f35c41,#e73827);
}
 
 
input{
  position: relative;
  left: 400px;
  width: 600px;
  height: 30px;
  background-color: rgb(245, 245, 244);
  border: 1px solid black;
}
.button{
  background-color:#e73827;
}

.author{
  position: relative;
  left: 550px;
}
.date{
  padding-top: 10px;
}
.content{
  text-align: center;
  padding: 10px;
}

 
 
