body {
  color: #0f0504;
  font-size:15px;
  text-align: center;
  
  background-image: linear-gradient(to right,rgb(57, 66, 184), rgb(180, 54, 159) );
}
input{
  position: relative;
  left: 100px;
  width: 300px;
  height: 30px;
  background-color: rgb(245, 245, 244);
  border: 1px solid black;
}

label{
  color: #000000;
}
.button{
  
  background-color: rgb(11, 6, 14);
}
 