body {

  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
}

input{
  position: relative;
  left: 100px;
  width: 300px;
  height: 30px;
  background-color: rgb(245, 245, 244);
  border: 1px solid black;
}
label{
  color: #5e130a;
}
.button{
  
  background-color: rgb(109, 54, 14);
}
button{
   position: relative;
  left: 370px;
  width: 100px;
}